<%= javascript_tag "user_token = '#{@spotify_user.credentials[:token]}'" %>
<%= javascript_tag "playlist_id = '#{@playlist.id}'" %>

<div class="container">
  <h1>Playlist Tracks</h1>
  <div class="d-flex align-items-center mb-3">
    <%= image_tag @playlist.images.first["url"], size: 200 %>
    <h2 class="ms-3"><%= @playlist.name %></h2>
  </div>

  <div class="container" data-controller="isotope">
    <div class="button-group sort-by-button-group m-3">
      <button data-sort-by="original-order">original order</button>
      <button data-sort-by="bpm">BPM</button>
      <button data-sort-by="key">Song Key</button>
      <button data-sort-by="danceability">Danceability</button>
      <button data-sort-by="energy">Energy</button>
    </div>
    <div class="button-group playlist-button-group">
      <button>Update Playlist</button>
    </div>
    <div class="grid">
      <% counter = 1 %>
      <% @tracks.each do |track| %>
        <div class="grid-item-playlist shadow mb-2 p-3" data-controller="camelot" data-uri-value=<%= track[:uri]%>>
          <div class="track-features d-flex justify-content-between align-items-center">
            <div class="track-title-artist">
              <h4 class="mb-2"><%= counter %>. <%= track[:name]  %></h4>
              <p><%= track[:artist] %></p>
            </div>
            <div class="track-audio-features d-flex justify-content-between">
              <div class="mx-3 d-flex align-items-center flex-column">
                <span class="d-flex"><p>Key: </p><p class="key-text ms-2"><%= track[:key_text] %></p></span>
                <p class="key ms-2" style="color: transparent;"><%= track[:key] %></p></span>
              </div>
              <div class="mx-3">
                <span class="d-flex"><p>BPM: </p><p class="bpm ms-2"><%= track[:bpm] %></p></span>
                <span class="d-flex"><p>Danceability: </p><p class="danceability ms-2"><%= track[:danceability] %></p></span>
                <span class="d-flex"><p>Energy: </p><p class="energy ms-2"><%= track[:energy] %></p></span>
              </div>
            </div>
          </div>
        </div>
        <% counter += 1 %>
      <% end %>
    </div>
  </div>
</div>
