<div class="playlist_tracks container-fluid d-flex justify-content-center flex-wrap w-100">
    <div class="row justify-content-end">
      <div class="col-12">
        <header class="jumbotron jumbotron-fluid mb-5 rounded p-4">
            <br>
            <br>
            <br>
            <div class="playlist-tracks-text">
              <h1 class="display-4">Playlist Tracks</h1>
              <p class="display">Listen to your music unmixed, as often as you can. Having your DJ collection on hand ensures you can be listening to your music anywhere and everywhere. Preparing music files can be boring, but it’s essential if you want to appear to always know what song to play next, effortlessly. Not only should you prepare each individual music file, but also work on playlists, BiteJockey makes this part stress free.</p>
            <div>
        </header>
      <div class="sidebar">
        <%= render "layouts/sidebar"%>
      </div>
    </div>

  <div class="container" data-controller="isotope">
      <div class="button-group sort-by-button-group m-3">
        <button data-sort-by="original-order">Original order</button>
        <button data-sort-by="bpm" data-sort-direction="desc">BPM <span aria-hidden="true"><i class="fa-solid fa-caret-up"></i></span></button>
        <button data-sort-by="key" data-sort-direction="desc">Song Key <i class="fa-solid fa-caret-up"></i></button>
        <button data-sort-by="danceability" data-sort-direction="desc">Danceability <i class="fa-solid fa-caret-up"></i></button>
        <button data-sort-by="energy" data-sort-direction="desc">Energy <i class="fa-solid fa-caret-up"></i></button>
      </div>
      <div class="button-group playlist-button-group">
        <button class="update-playlist-button">Update Playlist</button>
        <button class="create-playlist-button">Create New Playlist</button>
      </div>
      <div class="grid">
        <% counter = 1 %>
        <% @tracks.each do |track| %>
          <div class="grid-item-playlist shadow mb-2 p-3" data-controller="camelot" data-uri-value=<%= track[:uri]%>>
            <div class="track-features d-flex justify-content-between align-items-center">
              <div class="track-title-artist">
                <h4 class="mb-2"><%= counter %>. <%= track[:name]  %></h4>
                <p><%= track[:artist] %></p>
              </div>
              <div class="track-audio-features d-flex justify-content-between">
                <div class="mx-3 d-flex align-items-center flex-column">
                  <span class="d-flex"><p>Key: </p><p class="key-text ms-2"><%= track[:key_text] %></p></span>
                  <p class="key ms-2" style="color: transparent;"><%= track[:key] %></p></span>
                </div>
                <div class="mx-3">
                  <span class="d-flex"><p>BPM: </p><p class="bpm ms-2"><%= track[:bpm] %></p></span>
                  <span class="d-flex"><p>Danceability: </p><p class="danceability ms-2"><%= track[:danceability] %></p></span>
                  <span class="d-flex"><p>Energy: </p><p class="energy ms-2"><%= track[:energy] %></p></span>
                </div>
              </div>
            </div>
          </div>
          <% counter += 1 %>
        <% end %>
      </div>
    </div>
  </div>
</div>

  <script id="my_vars_json" type="text/json">
      <%= raw @my_vars.to_json %>
  </script>
