



<br><br><br><br><br>
<div class="container" style="border: 2px solid red;">
  <h1>Bookings</h1>
  <br><br>
  <% @bookings.each do |booking|%>
    <h3>Date:<%= booking.date %></h3>
    <hr>
    <p><strong>Venue:</strong><%= booking.venue %></p>
    <p><strong>Set Length:</strong><%= booking.set_length %></p>
    <p><strong>Hourly Rate:</strong><%= booking.hourly_rate %></p>
    <p><strong>Music Genres:</strong><%= booking.music_genre %></p>
    <p><strong>Equiptment Info:</strong><%= booking.venue %></p>
    <p><strong>Description:</strong><%= booking.venue %></p>
    <p><strong>Booked By:</strong><%= booking.booker.user_name %></p>
  <% end %>
</div>
