

<br><br>
<div class="main_log" style="background-color: black; height: 91.4vh; display: flex; align-items: center; flex-direction: column; justify-content: center;">
<br><br><br><br><br>
  <div class="title">New Booking For #{user-name}</div>
  <div class="log_in" style="width: fit-content;">
    <div class="logo">
      <img src="https://i.imgur.com/arALlu1.png" alt="" width="100">
    </div>
    <div class="form" style="padding: 0px 16px; color: white; font-size: larger;">
      <%= simple_form_for [@user, @booking] do |f| %>
      <%= f.input :date %>
      <%= f.input :set_length %>
      <%= f.input :hourly_rate %>
      <%= f.input :music_genre %>
      <%= f.input :venue %>
      <%= f.input :equiptment_type %>
      <%= f.input :description %>
      <%= f.button :submit, "Book Now", class: "btn-submit"%>
    <% end %>
    </div>
  </div>
  <br>
</div>
