<br>
<br>
<br>
<div class="social_home" style="border: 5px solid blue; background: rbg(219,62,177); background: radial-gradient(circle, rgba(219,62,177,1) 0%, rgba(0,0,0,1) 73%); color-stop(0.75, #000000))">
  <div class="banner" style="border: 5px solid yellowgreen;">
    <div class="headings" style="margin: 30px; border: 5px solid red;">
      <div class="profile-avatar">
        <img class="avatar-large" alt="avatar-large" src=<%= @user.image %>/>
      </div>
      <div class="banner-info" id="banner-info">
        <h2><%=@user.user_name %></h2>
        <p><%= @user.operator_type %></p>
        <p><%= @user.location %></p>
        <p><%= @user.pronoun %></p>
        <p><%= @user.social_link %></p>
      </div>
    </div>
  </div>
  <div class="container" id="playlists" style="border: 5px solid brown; text-align: center;;">
    <h1><%=@user.user_name %>'s Playlists</h1>
    <div class="cards" style="border: 5px solid purple">
      <input type="radio" name="position" checked />
      <input type="radio" name="position" />
      <input type="radio" name="position" />
      <input type="radio" name="position" />
      <input type="radio" name="position" />
      <main id="carousel" style="border: 5px solid skyblue;">
      <div class="item">
        <img class="card-img-top" src="https://media.istockphoto.com/photos/modern-futuristic-sci-fi-concept-club-background-grunge-concrete-picture-id1063881788?k=20&m=1063881788&s=170667a&w=0&h=lR3GsH1YtiJZUH0okJmq2iLJMFkJQH5XA37SSk5sJAA=" alt="Card image cap">
        <div class="container" id="c-item">
          <div class="card-body">
            <h5 class="card-title">Playlist 1</h5>
            <p class="card-text">Playlist Producer</p>
            <a href="#" class="btn btn-info">View Playlist</a>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1616855752765-2d867caa9aa7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHRlY2hub3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60" alt="Card image cap">
        <div class="container" id="c-item">
          <div class="card-body">
            <h5 class="card-title">Playlist 1</h5>
            <p class="card-text">Playlist Producer</p>
            <a href="#" class="btn btn-info">View Playlist</a>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1509114397022-ed747cca3f65?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" alt="Card image cap">
        <div class="container" id="c-item">
          <div class="card-body">
            <h5 class="card-title">Playlist 1</h5>
            <p class="card-text">Playlist Producer</p>
            <a href="#" class="btn btn-info">View Playlist</a>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1487260211189-670c54da558d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="Card image cap">
        <div class="container" id="c-item">
          <div class="card-body">
            <h5 class="card-title">Playlist 1</h5>
            <p class="card-text">Playlist Producer</p>
            <a href="#" class="btn btn-info">View Playlist</a>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1619983081593-e2ba5b543168?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="Card image cap">
        <div class="container" id="c-item">
          <div class="card-body">
            <h5 class="card-title">Playlist 1</h5>
            <p class="card-text">Playlist Producer</p>
            <a href="#" class="btn btn-info">View Playlist</a>
          </div>
        </div>
      </div>
      </main>
    </div>
  </div>
  <div class="container" id="social-feed" style="height: 100%; border: 5px solid yellow;">
    <h1>Social Feed</h1>
    <div class="taggbox-container" style="width:100%;height:100%;overflow: auto;"><div class="taggbox-socialwall" data-wall-id="94175" view-url="https://widget.taggbox.com/94175"></div><script src="https://widget.taggbox.com/embed.min.js" type="text/javascript"></script></div>
  </div>
  <div class="container" id="map-container" style="height: 100%; border: 5px solid white;">
    <h1>Info</h1>
    <div class="container" id="map-and-card" style="display: flex; align-items: center; border: 5px solid white;">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12601.65583373281!2d144.993341!3d-37.8506034!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf17088a665f366ce!2sRevolver%20Upstairs!5e0!3m2!1sen!2sau!4v1651578545691!5m2!1sen!2sau" width="50%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
      </iframe>
      <div class="container" id="info-global" style="width: 30%; height: 100%; border: 5px solid white;">
        <div class="container" id="description">
          <h4>About <%=@user.user_name %></h4>
          <p>I drop some pleasant bits with some valid energy</p>
        </div>
        <div class="container" id="genres">
          <h4><%= @user.operator_type %>'s Genres</h4>
          <p>Desert House, Stairwell Trance, Aeroplane Techno</p>
        </div>
        <div class="container" id="contact links">
          <h4>Contact <%=@user.user_name %></h4>
          <ul>
            <li><%= @user.social_link %></li>
            <li><%= @user.social_link %></li>
            <li><%= @user.social_link %></li>
            <li><%= @user.email %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container justify-content-center" id="booking-form" style="height: 100%; border: 5px solid aqua;">
    <h1>Book <%=@user.user_name %></h1>
    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Venue</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Venue">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Date</label>
          <input type="date" class="form-control" placeholder="Date">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Date</label>
          <input type="time" class="form-control" placeholder="Time">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Hourly Rate</label>
          <input type="float" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Hourly Rate">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Music Type</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Music Type">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Equiptment</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Equiptment">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </div>

  <div class="edit/destroy">
    <ul>
      <li><%= link_to 'Edit', edit_user_path(@user) %></li>
      <li><%= button_to 'Destroy', user_path(@user), method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </ul>
  </div>
</div>
