<p><%= @user.first_name %></p>
<p><%= @user.last_name %></p>
<p><%= @user.user_name %></p>
<p><%= @user.operator_type %></p>
<p><%= @user.location %></p>
<p><%= @user.social_link %></p>
<p><%= @user.image %></p>
<p><%= @user.email %></p>
<p><%= @user.password %></p>
