<div class="home-page" style="background-color: #0D1012;">
  <header>
    <div class="overlay"></div>
    <%= video_tag "dj_vid.mp4", autoplay: :autoplay, loop: :loop, muted: :muted %>
    <div class="container h-100" style="display: flex; align-items: center;">
      <div class="w-100 text-white" id="banner-content">
        <%= image_tag 'Header.png', width: '80%', height: 'auto', alt: 'Logo', class: "ms-2 d-inline-block align-top" %>
        <!-- <h1 class="display-3">Bite Jockey</h1>
        <h3 class="lead mb-0">Less Admin More Mixin</p>-->
        <div class="button-section" style="margin-top: -120px; display: flex; justify-content: center;">
          <a href="/auth/spotify" class="myButton" style="font-family: monospace; width: 26%; margin-right: 20px;">Sort Your Tracks</a>
          <a href="/users" class="myButton" style="font-family: monospace; width: 26%; margin-left: 20px;">Get Social</a>
        </div>
      </div>
    </div>
  </header>
  <div class="container-md" id="api-features" style="text-align: center; padding: 60px 0 60px 0; padding: 6px;">
    <div class="features-head" style="margin: 42px 0 26px 0;">
      <h1 style="font-family: monospace; font-size: 60px;">Let Bite Jockey Raise Your DJ Game</h1>
    </div>
    <div class="row" style="display: flex; justify-content: center; flex-wrap: wrap; margin-bottom: 5%;">
      <div class="col-md-5" id="api-feature" style="border: 2px solid white; margin: 22px; padding: 38px 0 64px 0; border-radius: 15px;">
        <div class="card-text">
          <h3 class="card-title" style="font-family: monospace; color: white; margin: 16px 0 26px 0;">Access Your Spotify Playlists</h3>
          <p style="padding: 18px;">We'll link up your existing Spotify playlists so you can work on those killer sets you've already made, instead of starting from scratch.</p>
        </div>
        <div class="card-image" style="margin: 32px 0 12px 0;">
          <%= image_tag 'playlists.jpg', width: '80%', height: '60%'%>
        </div>
      </div>
      <div class="col-md-5" id="api-feature" style="border: 2px solid white; margin: 22px; padding: 38px 0 64px 0; border-radius: 15px;">
        <div class="card-text">
          <h3 class="card-title" style="font-family: monospace; color: white; margin: 16px 0 26px 0;">BiteJockey's Intelligent Sort</h3>
          <p style="padding: 18px;">Let BiteJockey's Intelligent Algorithm automatically sort your playlist which is guaranteed to generate a killer set.</p>
        </div>
        <div class="card-image" style="margin: 32px 0 12px 0;">
          <%= image_tag 'sort.jpg', width: '80%', height: '60%'%>
        </div>
      </div>
      <div class="col-md-5" id="api-feature" style="border: 2px solid white; margin: 22px; padding: 38px 0 64px 0; border-radius: 15px;">
        <div class="card-text">
          <h3 class="card-title" style="font-family: monospace; color: white; margin: 16px 0 26px 0;">Sort By DJ Specific Filters</h3>
          <p style="padding: 18px;">Choose to manually filter your existing playlists based on unique DJ-relevant categories such as BPM, Key, Danceability, Energy and plenty more.</p>
        </div>
        <div class="card-image" style="margin: 32px 0 12px 0;">
          <%= image_tag 'filter3.jpg', width: '80%', height: '60%'%>
        </div>
      </div>
      <div class="col-md-5" id="api-feature" style="border: 2px solid white; margin: 22px; padding: 38px 0 64px 0; border-radius: 15px;">
        <div class="card-text">
          <h3 class="card-title" style="font-family: monospace; color: white; margin: 16px 0 26px 0;">Save or Create Playlists</h3>
          <p style="padding: 18px;">Once the magic's been worked you can remove songs that don't fit, save the final result as a new playlist or over-ride the original playlist.</p>
        </div>
        <div class="card-image" style="margin: 32px 0 12px 0;">
          <%= image_tag 'save.jpg', width: '80%', height: '60%'%>
        </div>
      </div>
      <div class="features-btn-div">
        <a class="spotify-button" href="/auth/spotify">
          <span class="spotify-button-text" style="font-family: monospace;"><span>Connect</span></span>
          <span class="spotify-button-icon"><i class="fa fa-spotify" aria-hidden="true"></i></span>
        </a>
      </div>
    </div>
  </div>
  <div class="banner" id="social-banner-top" style="display: flex; align-items: center; justify-content: center;">
    <div class="container h-80">
      <div class="d-flex h-80 text-center align-items-center">
        <div class="w-100 text-white">
          <h1 class="display-3">Bite Social</h1>
          <h3 class="lead mb-0">Share, Connect, Get Booked</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-md" id="api-features" style="text-align: center; padding: 60px 0 60px 0; padding: 6px;">
    <div class="features-head" style="margin: 42px 0 26px 0;">
      <h1 style="font-family: monospace; font-size: 60px;">Grow Your Passion With Bite Social</h1>
    </div>
    <div class="row" style="display: flex; justify-content: center; flex-wrap: wrap; margin-bottom: 5%;">
      <div class="col-md-5" id="api-feature" style="border: 2px solid white; margin: 22px; padding: 38px 0 64px 0; border-radius: 15px;">
        <div class="card-text">
        <h3 class="card-title" style="font-family: monospace; color: white; margin: 16px 0 26px 0;">Make A Profile That's All You</h3>
        <p style="padding: 18px;">Have fun being you. Share what you love, your unique sounds and styles, while showing off those deadly playlists!</p>
        </div>
        <div class="card-image" style="margin: 32px 0 12px 0;">
          <%= image_tag 'profile.jpg', width: '80%', height: '60%'%>
        </div>
      </div>
      <div class="col-md-5" id="api-feature" style="border: 2px solid white; margin: 22px; padding: 38px 0 64px 0; border-radius: 15px;">
        <div class="card-text">
        <h3 class="card-title" style="font-family: monospace; color: white; margin: 16px 0 26px 0;">Open, Inclusive, BS-Free</h3>
        <p style="padding: 18px;">We'll leave the toxicity to the other social sites. Bite Social is all for friends, sharing cool music, positive vibes, encouragement and inclusivity.</p>
        </div>
        <div class="card-image" style="margin: 32px 0 12px 0;">
          <%= image_tag 'smile.jpg', width: '80%', height: '60%'%>
        </div>
      </div>
      <div class="col-md-5" id="api-feature" style="border: 2px solid white; margin: 22px; padding: 38px 0 64px 0; border-radius: 15px;">
        <div class="card-text">
        <h3 class="card-title" style="font-family: monospace; color: white; margin: 16px 0 26px 0;">Connect With Other DJs</h3>
        <p style="padding: 18px;">Find like-minded DJs to follow, collab with and get inspired by. View their profiles, find their location and much more.</p>
        </div>
        <div class="card-image" style="margin: 32px 0 12px 0;">
          <%= image_tag 'multi.jpg', width: '80%', height: '60%'%>
        </div>
      </div>
      <div class="col-md-5" id="api-feature" style="border: 2px solid white; margin: 22px; padding: 38px 0 64px 0; border-radius: 15px;">
        <div class="card-text">
        <h3 class="card-title" style="font-family: monospace; color: white; margin: 16px 0 26px 0;">Get Booked or Book DJs</h3>
        <p style="padding: 18px;">Find a DJ that's perfect for your next event or residency. Set the location, price and equiptment details than sit back and enjoy their show!</p>
        </div>
        <div class="card-image" style="margin: 32px 0 12px 0;">
          <%= image_tag 'booked.jpg', width: '80%', height: '60%'%>
        </div>
      </div>
    </div>
  </div>
  <div class="banner" id="social-banner-bottom";>
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <% if user_signed_in? %>
          <div class="w-100 text-white" style="">
            <h3 class="display-3">Get Social</h3><br><br>
            <a href="/users/sign_up" id="sign-up-button">Search DJs</a>
            <!--    <div class="features-btn-div">
              <a class="spotify-button-bottom" href="/auth/spotify">
                <span class="spotify-button-bottom-text" style="font-family: monospace;"><span>Connect</span></span>
              </a>
            </div>-->
          </div>
        <% else %>
          <div class="w-100 text-white" style="">
            <h3 class="display-3">Join The Community</h3><br><br>
            <a href="/users/sign_up" id="sign-up-button">Sign Up Now</a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
