<div class="home-page" style="background-color: black;">
  <header>
    <div class="overlay"></div>
    <%= video_tag "dj_vid.mp4", autoplay: :autoplay, loop: :loop, muted: :muted %>
    <div class="container h-100" style="display:flex; align-items: center;">
      <div class="w-100 text-white" id="banner-content">
        <h1 class="display-3">Bite Jockey</h1>
        <h3 class="lead mb-0">Less Admin More Mixin</p>
        <a href="/auth/spotify" class="myButton" style="font-family: monospace;">Sort Your Tracks</a>
        <a href="#" class="myButton" style="font-family: monospace;">Get Social</a>
      </div>
    </div>
  </header>
  <div class="container-md" id="api-features" style="text-align: center; padding: 60px 0 60px 0;">
    <h1>Bite Jockey Can Raise Your DJ Game</h1>
      <div class="row">
        <div class="col-md-6" id="api-card-feature">
          <h3 class="card-title">Access Your Own Spotify Playlists</h3>
          <p class="card-text">We'll link up your existing Spotify playlists so you can work on those #{DJ-Adjective} sets you've already made, instead of starting from scratch.</p>
          <%= image_tag 'playlists.jpg', width: '100%', height: '60%'%>
        </div>
        <div class="col-md-6" id="api-card-feature">
          <h3 class="card-title">BiteJockey's Intelligent Sort</h3>
          <p class="card-text">Let BiteJockey's Intelligent Algorithm automatically sort your playlist which is guaranteed to generate a killer set.</p>
          <%= image_tag 'sort.jpg', width: '100%', height: '60%'%>
        </div>
        <div class="col-md-6" id="api-card-feature">
          <h3 class="card-title">Custom Sort By DJ Specific Filters</h3>
          <p class="card-text">Choose to manually filter your existing playlists based on unique DJ-relevant categories such as BPM, Key, Danceability, Energy and plenty more. </p>
          <%= image_tag 'filter3.jpg', width: '100%', height: '60%'%>
        </div>
        <div class="col-md-6" id="api-card-feature">
          <h3 class="card-title">Save or Create Playlists</h3>
          <p class="card-text">Once the magic's been worked you can remove songs that don't fit, save the final result as a new playlist or over-ride the original playlist.</p>
          <%= image_tag 'save.jpg', width: '100%', height: '60%'%>
        </div>
      </div>
      <a class="spotify-button">
        <span class="spotify-button-text" style="font-family: monospace;"><span>Connect Your</span></span>
        <span class="spotify-button-icon"><i class="fa fa-spotify" aria-hidden="true"></i></span>
      </a>
  </div>
  <div class="banner" id="social-banner-top"; >
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white">
          <h1 class="display-3">Bite Social</h1>
          <h3 class="lead mb-0">Share, Connect, Get Booked</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-md" id="api-features" style="text-align: center; padding: 0 0 100px 0; margin-top: 100px;">
    <h1>Take Your Passion To The Next Level With Bite Social</h1>
      <div class="row">
        <div class="col-md-6" id="api-card-feature">
          <h3 class="card-title">Make A Profile That's All You</h3>
          <p class="card-text">Have fun being you. Share what you love, your unique sounds and styles, while showing off those deadly playlists!</p>
          <%= image_tag 'profile.jpg', width: '100%', height: '60%'%>
        </div>
        <div class="col-md-6" id="api-card-feature">
          <h3 class="card-title">Open, Inclusive, BS-Free</h3>
          <p class="card-text">We'll leave the toxicity to the other social sites. Bite Social is all for friends, sharing cool music, positive vibes, encouragement and inclusivity.</p>
          <%= image_tag 'smile.jpg', width: '100%', height: '60%'%>
        </div>
        <div class="col-md-6" id="api-card-feature">
          <h3 class="card-title">Connect With Other DJs</h3>
          <p class="card-text">Choose to manually filter your existing playlists based on unique DJ-relevant categories such as BPM, Key, Danceability, Energy and plenty more. </p>
          <%= image_tag 'multi.jpg', width: '100%', height: '60%'%>
        </div>
        <div class="col-md-6" id="api-card-feature">
          <h3 class="card-title">Get Booked or Book DJs</h3>
          <p class="card-text">Once the magic's been worked you can remove songs that don't fit, save the final result as a new playlist or over-ride the original playlist.</p>
          <%= image_tag 'booked.jpg', width: '100%', height: '60%'%>
        </div>
      </div>
  </div>
  <div class="banner" id="social-banner-bottom";>
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white">
          <h3 class="display-3">Join The Community</h3>
          <button data-tf-popup="e0SWw5tD" data-tf-hide-headers data-tf-size="50" data-tf-iframe-props="title=Registration Form" data-tf-medium="snippet" style="all:unset;font-family:Helvetica,Arial,sans-serif;display:inline-block;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;background-color:#DB3EB1;color:#FFFFFF;font-size:20px;border-radius:25px;padding:0 33px;font-weight:bold;height:50px;cursor:pointer;line-height:50px;text-align:center;margin:0;text-decoration:none;">Sign Up Now</button><script src="//embed.typeform.com/next/embed.js"></script>
        </div>
      </div>
    </div>
  </div>
