<div class="home-page" style="background-color: black;">
  <header>
    <div class="overlay"></div>
    <%= video_tag "dj_vid.mp4", autoplay: :autoplay, loop: :loop, muted: :muted %>
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white">
          <h1 class="display-3">Bite Jockey</h1>
          <h3 class="lead mb-0">Less Admin More Mixin</p>
          <button type="button" class="btn btn-outline-info btn-lg" id="home-buttons"><%= link_to 'Sort Ya Tracks', '/auth/spotify', method: :post %></button>
          <button type="button" class="btn btn-outline-info btn-lg m-3" id="home-buttons"><%= link_to 'Get A Bit Social', 'social', method: :post %></button>
        </div>
      </div>
    </div>
  </header>
  <div class="container-md" id="api-features" style="border: solid red; text-align: center; padding: 0;">
    <h1>How Bite Jockey Can Raise Your DJ Game</h1>
      <div class="row">
        <div class="col-md-6" id="api-card-feature">
          <h3 class="card-title">Access Your Own Spotify Playlists</h3>
          <p class="card-text">We'll link up your existing Spotify playlists so you can work on those #{DJ-Adjective} sets you've already made, instead of starting from scratch.</p>
          <%= image_tag 'playlists.jpg', width: '100%', height: '60%'%>
        </div>
        <div class="col-md-6" id="api-card-feature">
          <h3 class="card-title">BiteJockey's Intelligent Sort</h3>
          <p class="card-text">Let BiteJockey's Intelligent Algorithm automatically sort your playlist which is guaranteed to generate a killer set playlist.</p>
          <%= image_tag 'sort.jpg', width: '100%', height: '60%'%>
        </div>
        <div class="col-md-6" id="api-card-feature">
          <h3 class="card-title">Cutom Sort By DJ Specific Filters</h3>
          <p class="card-text">Choose to manually filter your existing playlists based on unique DJ-relevant categories such as BPM, Key, Danceability, Energy and plenty more. </p>
          <%= image_tag 'filter3.jpg', width: '100%', height: '60%'%>
        </div>
        <div class="col-md-6" id="api-card-feature">
          <h3 class="card-title">Save or Create Playlists</h3>
          <p class="card-text">Once the magic's been worked you can remove songs that don't fit, save the final result as a new playlist or over-ride the original playlist.</p>
          <%= image_tag 'save.jpg', width: '100%', height: '60%'%>
        </div>
      </div>
      <button class="glow-on-hover" type="button" style="font-size: x-large;">Get Started</button>
  </div>
  <div class="banner" id="social-banner" >
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white">
          <h1 class="display-3">Bite Social</h1>
          <h3 class="lead mb-0">A Space for Music Lovers and DJs to Collaborate, Share and Get Booked.</p>
        </div>
        <div class="arrow-container animated fadeInDown">
          <div class="arrow-2">
            <i class="fa fa-angle-down"></i>
          </div>
          <div class="arrow-1 animated hinge infinite zoomIn"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-md" id="social-features" style="border: solid white; background-color: turquoise; text-align: center;">
    <h1>Features Of BitSocial</h1>
      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" style="border-top: solid black; background-color: grey">
          <div class="icon-box">
            <img src="https://images.unsplash.com/photo-1557040135-9dc2a6b60411?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" alt="" style="width: 100%; object-fit: cover;">
            <h4>Live Loops</a></h4>
            <p>Explore musical ideas using a grid of musical loops and phrases that you can trigger and manipulate in real time to create unique arrangements.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" style="border-top: solid black; background-color: grey">
          <div class="icon-box">
           <img src="https://images.unsplash.com/photo-1557040135-9dc2a6b60411?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" alt="" style="width: 100%; object-fit: cover;">
            <h4>Multi-Touch Mixing</h4>
            <p>Control your mix from wherever you are in the room — whether that’s next to your computer or on the couch — with Multi-Touch faders.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" style="border-top: solid black; background-color: grey">
          <div class="icon-box">
            <img src="https://images.unsplash.com/photo-1557040135-9dc2a6b60411?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" alt="" style="width: 100%; object-fit: cover;">
            <h4>Key Commands</h4>
            <p>Create at the speed of sound with Key Commands in Logic Remote. Choose from curated commands for popular workflows, or create your own customised set.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" style="border-top: solid black; background-color: grey">
          <div class="icon-box">
            <img src="https://images.unsplash.com/photo-1557040135-9dc2a6b60411?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" alt="" style="width: 100%; object-fit: cover;">
            <h4>Sequence your beats</h4>
            <p>Program drum patterns and melodic parts, create dynamic rhythmic performances and automate your plug-ins — all with a quick tap of your finger.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" style="border-top: solid black; background-color: grey">
          <div class="icon-box">
            <img src="https://images.unsplash.com/photo-1557040135-9dc2a6b60411?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" alt="" style="width: 100%; object-fit: cover;">
            <h4>Smart Tempo</h4>
            <p>Play freely and stay on beat with Smart Tempo, a way to effortlessly mix and match music and beats without worrying about the original tempo. Record freely without a click track.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" style="border-top: solid black; background-color: grey">
          <div class="icon-box">
            <img src="https://images.unsplash.com/photo-1557040135-9dc2a6b60411?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80" alt="" style="width: 100%; object-fit: cover;">
            <h4>Track Stacks</h4>
            <p>Consolidate multiple related tracks into a single track. Use a Summing Stack as a quick way to create submixes. Or create layered and split instruments.</p>
          </div>
        </div>
      </div>
      <h1>Sign Up Now!</h1>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </div>

</div>
